<form action="persona/RecibirDatosPersona">
<p><label for="nombre">Nombre</label>
<input type="text" name="nombre" id="nombre"/>
</p>
<p><label for="edad">Edad</label>
<input type="text" name="edad" id="edad"/>
</p>
<p><label for="jubilado">Jubilado</label>
<input type="checkbox" name="jubilado" id="jubilado" value="true"/>
</p>
<p>
    <input type="submit" value="enviar"/>
</p>
</form>