<html>

<body>
    <table>
        <tr>
            <th>Numero</th>
            <th>Concepto</th>
            <th>Importe</th>
            <th>Ver Detalle</th>
           
        </tr>

        @foreach (var factura in ViewBag.ListaFacturas)
        {
            <tr>
                <td>@factura.Numero</td>
                <td>@factura.Concepto</td>
                <td>@factura.Importe</td>
                <td><a href="Detalle?numero=@factura.Numero">ir a detalle</a></td>
            </tr>
        }
    </table>
    <a href="formulario">ir al formulario</a>
</body>

</html>