<html>

<body>
    <table>
        <tr>
            <th>Numero</th>
            <th>Concepto</th>
            <th>Importe</th>
            <th>Ver Detalle</th>

        </tr>

        @foreach (var factura in ViewBag.ListaFacturas)
        {
            <tr>
                <td>@factura.Numero</td>
                <td>@factura.Concepto</td>
                <td>@factura.Importe</td>
                <td><a href="/factura/Detalle?numero=@factura.Numero">ir a detalle</a></td>
                <td><a href="/factura/Borrar?numero=@factura.Numero">borrar</a></td>

            </tr>
        }
    </table>
    <a href="/factura/formulario">ir al formulario</a>
</body>

</html>