<form action="resultadosuma">
   <p>Numero1<input type="text" name="numero1"/></p>
   <p>Numero2<input type="text" name="numero2"/></p>
   <p> <input type="submit" value="sumar"/></p>
   
</form>
