@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tr>
        <th>Columna1</th>
        <th>Columna2</th>
    </tr>
    <tr>

        <td>dato1</td>
        <td>dato2</td>
    </tr>

    <tr>

        <td>dato3</td>
        <td>dato4</td>
    </tr>

</table>
